body{
    background-color: #F1F1F1;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
nav{
    width: 90%;
    margin: auto;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left_nav{
    padding-left: 20px;
    width: 50%;
}
.right_nav{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #777777;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.resume{
    cursor: pointer;
    color: black;
    border: 2px solid #D0D0D0;
    border-radius: 20px;
    width: 115px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sujesh{
    width: 90%;
    margin: auto;
    height: 1200px;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
    align-content: space-around;
}
.hello{
    margin: auto;
    width: 13%;
    height: 40px;
    border: 1px solid #999999;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.title{
    margin-top: 20px;
}
.sub_title{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';font-size: 53px;
    padding-top: 10px;
}
.text_title{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.arrow{
    cursor: pointer;
    margin: auto;
    width: 21%;
    height: 40px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_arrow{
    width: 30px;
    margin-right: 10px;
}
.img{
    margin-top: 80px;
    width: 95%;
}
.main{
    width: 90%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
}
.line{
    width: 3%;
    height: 2px;
    background-color: black;
    display: inline-block;
}
.head{
    font-weight: bold;
    font-size: 35px;
    display: inline;
    
}
.head_content{
    font-size: 30px;
}
.project1{
    margin: auto;
    margin-top: 40px;
    width: 90%;
    height: 820px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    background-color: white;

}
.top_project{
    width: 95%;
    margin: auto;
    padding-top: 25px;
}
.pimg{
    width: 68%;
}
.p1{
    width: 7%;
    padding-left: 50px;
}
.project_text{
    width: 95%;
    margin: auto;
}
.contact{
    width: 90%;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.contact_head{
    font-size: 40px;
    font-weight: bolder;
    padding-top: 40px;
}
.contact_content{
    font-size: 20px;
}
.button{
    cursor: pointer;
    margin: auto;
    width: 15%;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    font-weight: bold;
}
.footer{
    margin: auto;
    margin-top: 80px;
    width: 90%;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: #424141;
}
.footer2{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.a1{
    padding-left: 10px;
}